<%= form_with(model: defense_process) do |form| %>
  <% if defense_process.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(defense_process.errors.count, "error") %> prohibited this defense_process from being saved:</h2>

      <ul>
        <% defense_process.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <div class="field">
      <%= form.label "Назва" %><br />
      <%= form.text_field :nameID, class: "form-control" %>
    </div>

    <%= form.submit "Зберігти", class: "btn btn-outline-success" %>
  </div>
<% end %>
