<p style="color: green"><%= notice %></p>

<h1><%= t("defense_process.defense_processes")%></h1>

<div id="defense_processes">
  <% @defense_processes.each do |defense_process| %>
    <div class="defense_process_wrap">
      <%= render defense_process %>
      <%= link_to defense_process  do %>
        <i class="bi bi-eye"></i>
      <% end %>
    </div>
  <% end %>
</div>

<%= link_to t("defense_process.new"), new_defense_process_path, class: "btn btn-outline-primary" %>
