<p style="color: green"><%= notice %></p>

<%= render @defense_process %>

<div class="defense_container">
 <button class="btn btn-outline-success btn-create-defense">Створити Групу</button>

  <div class="form_container">
    <h1>New group</h1>

    <%= form_for @group, url: defense_process_groups_path(@defense_process.id), method: :post do |form| %>
      <div>

      <div class="field">
        <%= form.label "Форма навчання" %><br />
        <%= form.select :form, [["Денна", "Денна"], ["Заочна", "Заочна"]], selected: "Денна", class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label "Спеціалізація" %><br />
        <%= form.text_field :specialization %>
      </div>

      <div class="field">
        <%= form.label "Назва групи" %><br />
        <%= form.text_field :name_number %>
      </div>

      <div class="field">
        <%= form.label "Шифр спеціальності" %><br />
        <%= form.text_field :specialty_code, data: { numeric: true } %>
      </div>

        <%= form.submit %>
      </div>
    <% end %>

  </div>
</div>


<textarea id="w3review" name="w3review" rows="4" cols="50">
  At
</textarea>

<div>
  <%= link_to "Edit this defense process", edit_defense_process_path(@defense_process) %> |
  <%= link_to "Back to defense processes", defense_processes_path %>

  <%= button_to "Destroy this defense process", @defense_process, method: :delete %>
</div>
