<p style="color: green"><%= notice %></p>

<%= render partial: "/shared/icon_links_btns", locals: {back: defense_processes_path, edit: { path: edit_defense_process_path, resourse: @defense_process }, delete: defense_process_path, eye: false} %>

<%= render @defense_process %>

<div class="defense_container">
  <% if can? :create, @group %>
     <button class="btn btn-outline-success btn-create-defense"><%= t("group.create")%></button>
  <% end %>

  <div class="form_container">
    <h1><%= t("group.new") %></h1>

    <%= form_for @group, url: defense_process_groups_path(@defense_process.id), method: :post do |form| %>
      <div>

      <div class="field">
        <%= form.label "Форма навчання" %><br />
        <%= form.select(:form, [["Денна", "Денна"], ["Заочна", "Заочна"]], {selected: "Денна"}, { class: "form-select" }) %>
      </div>

      <div class="field">
        <%= form.label "Спеціалізація" %><br />
        <%= form.text_field :specialization, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label "Назва групи" %><br />
        <%= form.text_field :name_number, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label "Шифр спеціальності" %><br />
        <%= form.text_field :specialty_code, data: { numeric: true }, class: "form-control" %>
      </div>
      
      <div class="field">
        <%= form.label "Спеціальність" %><br />
        <%= form.text_field :specialty_title, class: "form-control" %>
      </div>

      <div class="field dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Вибрати комісію
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <%= form.collection_check_boxes(:commission_id, Commission.all, :id, :name) do |b| %>
            <li>
              <div class="dropdown-item">
                <%= b.label(:"data-value" => b.value) { b.check_box + ' ' + b.text } %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>

        <%= form.submit t("group.create"), class: "btn btn-success" %>
      </div>
    <% end %>

  </div>
</div>

<h1><%= t("group.groups") %></h1>

<div id="groups">
  <% @defense_process.groups.each do |group| %>
    <p>
      <b>Назва групи</b> : <%= group.name_number %> <%= group.specialization%>
      <%= link_to defense_process_group_path(@defense_process.id, group.id), method: :get  do %>
        <i class="bi bi-eye defense"></i>
      <% end %>
    </p>
  <% end %>
</div>
