<p style="color: green"><%= notice %></p>

<%= link_to defense_processes_path do %>
  <i class="bi bi-arrow-left-circle defense"></i> | 
<% end %>

<%= link_to edit_defense_process_path(@defense_process) do %>
    <i class="bi bi-pencil defense"></i> | 
<% end%>

<%= button_to defense_process_path, method: :delete, class: "btn-defense_trash" do %>
  <i class="bi bi-trash defense"></i>
<% end %>

<%= render @defense_process %>

<div class="defense_container">
 <button class="btn btn-outline-success btn-create-defense"><%= t("group.create")%></button>

  <div class="form_container">
    <h1><%= t("group.new") %></h1>

    <%= form_for @group, url: defense_process_groups_path(@defense_process.id), method: :post do |form| %>
      <div>

      <div class="field">
        <%= form.label "Форма навчання" %><br />
        <%= form.select(:form, [["Денна", "Денна"], ["Заочна", "Заочна"]], {selected: "Денна"}, { class: "form-select" }) %>
      </div>

      <div class="field">
        <%= form.label "Спеціалізація" %><br />
        <%= form.text_field :specialization, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label "Назва групи" %><br />
        <%= form.text_field :name_number, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label "Шифр спеціальності" %><br />
        <%= form.text_field :specialty_code, data: { numeric: true }, class: "form-control" %>
      </div>

        <%= form.submit t("group.create"), class: "btn btn-success" %>
      </div>
    <% end %>

  </div>
</div>

<h1><%= t("group.groups") %></h1>

<div id="groups">
  <% @defense_process.groups.each do |group| %>
    <p>
      <b>Назва групи</b> : <%= group.name_number %> <%= group.specialization%>
      <%= link_to defense_process_group_path(@defense_process.id, group.id), method: :get  do %>
        <i class="bi bi-eye defense"></i>
      <% end %>
    </p>
  <% end %>
</div>
