<div id="<%= dom_id diploma %>">
  <p>
    <strong>Theme:</strong>
    <%= diploma.theme %>
  </p>

  <p>
    <strong>Pages:</strong>
    <%= diploma.pages %>
  </p>

  <p>
    <strong>Presentation:</strong>
    <%= diploma.presentation %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= diploma.language %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= diploma.student_id %>
  </p>

  <p>
    <strong>Mark:</strong>
    <%= diploma.mark %>
  </p>

  <p>
    <strong>Sample type:</strong>
    <%= diploma.sample_type %>
  </p>

</div>
