<div id="<%= dom_id student %>">
    <p>
        <b>ПІБ</b> : <%= student.full_name %> <br />
        <b>Тема диплому</b> : <%= student.theme %> <br />
        <b>Керівник</b> : 
        <%= student.get_teacher_lfp %> <br />
        <b>Дата захисту</b> : <%= student.date %> <br />
        <%= link_to student_path(student.id), method: :get  do %>
            <i class="bi bi-eye defense"></i>
        <% end %>
        <%= link_to 'Сформувати протокол', protocol_path(student_id: student.id) %>
        <%= link_to 'pdf', protocol_path(format: :pdf) %>
        <%= link_to 'Сформувати протокол в PDF', create_pdf_protocol_path %>
    </p>
</div>
