<div id="<%= dom_id group %>">
    <p><b>Форма навчання</b> : <%= group.form %></p>
    <p><b>Спеціалізація</b> : <%= group.specialization %></p>
    <p><b>Назва групи</b> : <%= group.name_number %></p>
    <p><b>Шифр спеціальності</b> : <%= group.specialty_code %></p>
    <p><b>Комісія</b>: <%= group.commission_info %></p>
</div>
