<p style="color: green"><%= notice %></p>

<%= render @group %>

<div>
  <%= link_to "Edit this group", edit_defense_process_group_path(@defense_process.id, @group.id) %> |
  <%= link_to "Back to groups", defense_processes_path %>

  <%= button_to "Destroy this group", defense_process_group_path, method: :delete %>
</div>
