<p style="color: green"><%= notice %></p>

<%= render partial: "/shared/icon_links_btns", locals: { back: defense_process_path(@defense_process.id), edit: edit_defense_process_group_path, delete: defense_process_group_path, eye: false } %>

<%= render @group %>

<div class="student_container">
 <button class="btn btn-outline-success btn-create-student">Додати студента в группу</button>

  <div class="form_container">
    <h1><%= t("student.new") %></h1>

    <%= form_for @student, url: students_path(group_id: @group), method: :post do |form| %>
      <div>

      <div class="field">
        <%= form.label "ПІБ" %><br />
        <%= form.text_field :full_name, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label "Тема диплому" %><br />
        <%= form.text_field :theme, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label "Керівник" %><br />
        <div class="from-list">
          <%= form.select(:teacher_id, [""] + @teachers.map { |teacher| [ teacher.lfp, teacher.id ] }, {selected: ""}, { class: "form-select teacher_enter-from-list" }) %>
        </div>
      </div>

      <div class="field">
        <%= form.label "Дата захисту" %><br />
        <%= form.date_field :date, as: :date, value: form.object.try(:strftime,"%m/%d/%Y"), class: "form-control" %>
      </div>

        <%= form.submit "Додати студента", class: "btn btn-success" %>
      </div>
    <% end %>

  </div>
</div>

<div class="student__list">

  <% if(@group.students.size != 0) %>
  
    <h1>Список студентів</h1>

    <table>
      <tr>
        <th></th>
        <th>ПІБ</th>
        <th>Тема диплому</th>
        <th>Керівник</th>
        <th>Дата захисту</th>
        <th></th>
      </tr>
      <% @group.students.each do |student| %>
        <tr>
          <td><%= @group.students.index(student) + 1 %></td>
          <td><%= student.full_name %></td>
          <td><%= student.theme %></td>
          <td>
            <%= student.get_teacher_lfp %> <br />
          </td>
          <td><%= student.date %></td>
          <td>
            <%= link_to student_path(student.id), method: :get  do %>
              <i class="bi bi-eye defense"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
      
    </table>

  <% end %>

</div>
