<div class="locale">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= t(:changeLanguage) %>
        </button>
        <ul class="dropdown-menu">
            <li><%= link_to 'UA 🇺🇦', locale_path("ua"), method: :get, class: "dropdown-item" %></li>
            <li><%= link_to 'EN 🇬🇧', locale_path("en"), method: :get, class: "dropdown-item" %></li>
        </ul>
    </div>
</div>

<div class="wrapper">
    <header>
        <h1><%= t(:welcomeToDdp) %></h1>
        <h5 class="pre-header"><%= t(:prewelcomeToDdp) %></h5>
    </header>
    <div class="action-board">
        To start: 
        <%= button_to "Sign Up", new_user_registration_path, { class: 'btn btn-outline-success', :method => :get} %>
        or
        <%= button_to "Login", new_user_session_path, { class: 'btn btn-success', :method => :get}  %>
    </div>
</div>
