<div id="<%= dom_id teacher %>">
    <b>Ім'я</b> : <%= teacher.first_name %> <br />
    <b>Прізвище</b> : <%= teacher.last_name %> <br />
    <b>По-батькові</b> : <%= teacher.patronymic %> <br />
    <b>Науковий ступінь</b> : <%= teacher.academic_status %> <br />
    <b>Посада</b> : <%= teacher.position %> <br />
</div>
