<%= form_for @commission, :html => {:class => "Commission"} do |form| %>
  <% if @commission.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@commission.errors.count, "error") %> prohibited this commission from being saved:</h2>

      <ul>
        <% @commission.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :number, style: "display: block" %>
    <%= form.number_field :number, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label "Голова комісії" %><br />
    <div class="from-list">
      <%= form.select(:head_id, [""] + Teacher.all.map { |teacher| [ teacher.lfp, teacher.id ] }, {selected: ""}, { class: "form-select teacher_enter-from-list" }) %>
    </div>
  </div>

  <div class="field dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Вибрати членів комісії
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <%= form.collection_check_boxes(:teacher_ids, Teacher.all, :id, :lfp) do |b| %>
        <li>
          <div class="dropdown-item">
            <%= b.label(:"data-value" => b.value) { b.check_box + ' ' + b.text } %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="field">
    <%= form.label "Метод оцінки" %><br />
    <div class="from-list">
      <%= form.select(:eval_method_id, [""] + EvalMethod.all.map { |method| [ method.name, method.id ] }, {selected: ""}, { class: "form-select teacher_enter-from-list" }) %>
    </div>
  </div>

  <div class="field">
    <%= form.submit "Зберігти", class: "btn btn-success" %>
  </div>
<% end %>
