<p style="color: green"><%= notice %></p>

<%= render @commission %>

<div>
  <%= link_to "Edit this commission", edit_commission_path(@commission) %> |
  <%= link_to "Back to commissions", commissions_path %>

  <%= button_to "Destroy this commission", @commission, method: :delete %>
</div>
