<div class="protocols__container">
    <div class="center" style="text-align: center;">
        <div class="protocols__wrapper"><b>Український державний університет науки і технологій</b></div>
        <p><b>ПРОТОКОЛ № </b><%= 1 %> від <%= @student.date.strftime("%d") %><%= t('month.' + @student.date.strftime("%m")) %> <%= @student.date.strftime("%Y") %> року </p>
        <p><b>Засідання екзаменаційної комісії №</b> ___</p><br />
        <p></p>
        <p>ступінь вищої освіти <%= @student.get_group.degree %></p>
        <p>спеціальність <%= @student.get_group.specialty_code %> <%= @student.get_group.specialization%></p>
        <p>Кваліфікаційна робота бакалавра</p>
        <p>студента/ки <%= @student.full_name %></p>
        <p>На тему: <%= @student.theme %></p>

        <p>ПРИСУТНІ:</p>

Голова
д.т.н., проф., каф. ПЗКС НТУ «Дніпровська політехніка» Мороз Борис Іванович
 (науковий ступінь, вчене звання, посада, прізвище, ім’я, по батькові)


Члени ЕК


                        старший викладач каф. екології, теплотехніки та ОП Шемет Тетяна Миколаївна
                        к.т.н., доц., доц. каф. ІТС Дорош Наталія Леонідівна
                        к.т.н., доц., доц. каф. ІТС Кавац Олена Олександрівна
         


                        

АТЕСТАЦІЙНУ РОБОТУ ВИКОНАНО:

Під керівництвом
доц. каф. ІТС, к.т.н., доц. Островська К.Ю.

                                                                                           (посада, науковий ступінь, вчене звання, прізвище, ініціали)
З консультацією


                                                                                           (посада, науковий ступінь, вчене звання, прізвище, ініціали)	
                                  
                                  







ДО  ЕКЗАМЕНАЦІЙНОЇ КОМІСІЇ ПОДАНО ТАКІ МАТЕРІАЛИ :
1. Подання голові ЕК щодо захисту атестаційної роботи, у якій містяться довідка про успішність, 
висновок керівника, висновок кафедри
інформаційних технологій і систем




2. Пояснювальна записка атестаційної роботи на
   
сторінках
3. Креслення,презентація на
   
аркушах


4. Рецензія
                                                                   ---

                                                                                         (науковий ступінь, вчене звання, посада, прізвище, ім’я, по батькові)
5. Навчальна карта студента
6. Резюме до роботи
                                    українською
мовою

                                                                                  (вказати мову)
                                                                                     
Після повідомлення (протягом  15  хв.) про виконану роботу студенту (ці) задані такі запитання:
1.
Мороз Б. І. – 


                                         (прізвище й ініціали особи, що поставила запитання, зміст запитання) 






2.
Дорош Н.Л. – Які висновки були зроблені в результаті виконання роботи?






3.
Кавац О. О. – Які складнощі виникли при аналізі результатів?






4.






5.








УХВАЛИЛИ:
1. Визнати, що студент (ка)
Устін Артем Юрійович

                                                                                                 (прізвище та ім’я, по батькові)
виконав (ла) і захистив (ла)
кваліфікаційну роботу бакалавра

                                                                                                                         (назва атестаційної роботи)
з оцінкою за шкалами:
національною


        ESTS




2. Присвоїти
Устіну Артему Юрійовичу

                                                                                                          (прізвище, ім’я, по батькові)
ступінь вищої освіти
Бакалавр


за спеціальністю
121 Інженерія програмного забезпечення
                                                                                                                                                          (шифр, назва)




3. Видати диплом
звичайного зразка

                                                                                                                        ( з відзнакою)
4. Відзначити, що




Голова ЕК:
                                                                                Борис МОРОЗ

                                                             (підпис)                                                                        (ім’я, прізвище)
Члени ЕК:
                                     Наталія ДОРОШ                                          Олена КАВАЦ


                                     Тетяна ШЕМЕТ                                           Маргарита АНДРЮХІНА


                                                                                                           

                                                                                          (ім’я та прізвище особи, що склала протокол, підпис)

    </div>
</div>