<div class="protocols__container">
    <div class="center" style="text-align: center;">
        <div class="protocols__wrapper"><b>Український державний університет науки і технологій</b></div>
        <p><b>ПРОТОКОЛ № </b><%= 1 %> від <%= @student.date.strftime("%d") %><%= t('month.' + @student.date.strftime("%m")) %> <%= @student.date.strftime("%Y") %> року </p>
        <p><b>Засідання екзаменаційної комісії №</b> ___</p><br />
        <p></p>
        <p>ступінь вищої освіти <%= @student.get_group.degree %></p>
        <p>спеціальність <%= @student.get_group.specialty_code %> <%= @student.get_group.specialization%></p>
        <p>Кваліфікаційна робота бакалавра</p>
        <p>студента/ки <%= @student.full_name %></p>
        <p>На тему: <%= @student.theme %></p>
    </div>
</div>