<div class="protocols__container">
    <div class="center" style="text-align: center;">
        <div class="protocols__wrapper">
            <div class="university"><b>Український державний університет науки і технологій</b></div>
            <p><b>ПРОТОКОЛ № </b><span class="underline inner inner__20px"><%= 1 %></span> від <span class="underline inner inner__20px"><%= @student.date.strftime("%d") %> <%= t('month.' + @student.date.strftime("%m")) %> <%= @student.date.strftime("%Y") %></span> року </p>
            <p class="commission"><b>Засідання екзаменаційної комісії №</b><span class="underline inner inner__20px"><%= @student.get_group.commission.number %></span></p><br />
        </div>
        
        <div class="group__info">
            <div class="protocol_row">
                <div class="title title_300px">ступінь вищої освіти</div>
                <div class="info"><%= @student.get_group.degree %></div>
            </div>
            <div class="protocol_row">
                <div class="title title_300px">спеціальність</div>
                <div class="info specification specification_code"><%= @student.get_group.specialty_code %> <%= @student.get_group.specialty_title %></div>
            </div>
            <% if @student.get_group.specialization != "" %>
                <div class="protocol_row">
                    <div class="info">спеціалізація «<%= @student.get_group.specialization %>»</div>
                </div>
            <% else %>
                <div class="protocol_row">
                    <div class="info"><br /></div>
                </div>
            <% end %>
            <div class="protocol_row">
                <div class="title title_150px"></div>
                <div class="info specification specification_diploma-type">Кваліфікаційна робота <span style="text-transform: lowercase;"><%= @student.get_group.degree %>a</span></div>
            </div>
        </div>

        <div class="student__info">
            <div class="protocol_row">
                <div class="title title_150px">студента/ки</div>
                <div class="info specification specification_lfp genitive"><%= @student.full_name %></div>
            </div>
            <div class="protocol_row">
                <div class="title title_150px">На тему:</div>
                <div class="info not_underline"><span class="text_underline"><%= @student.theme %></span></div>
            </div>
        </div>

        <div class="commission__info">
            <div class="commission__title">ПРИСУТНІ:</div>
            <div class="protocol_row">
                <div class="title title_150px">Голова</div>
                <div class="info specification specification_pos-status-lfp" id="leader_info"><%= @student.teacher.academic_status %>, <%= @student.teacher.position %> <%= @student.teacher.lfp %></div>
            </div>
            <br />
            <div class="protocol_row">
                <div class="title title_150px">Члени ЕК</div>
                <div class="info"></div>
            </div>
            <% @student.commission_teachers.each do |teacher| %>
                <div class="protocol_row">
                    <div class="title"></div>
                    <div class="info info_160px"><%= teacher.academic_status %>, <%= teacher.position %> <%= teacher.lfp %></div>
                </div>
            <% end %>
        </div>

        <div class="mentor__info">
            <div class="mentor__title">АТЕСТАЦІЙНУ РОБОТУ ВИКОНАНО:</div>
            <div class="protocol_row">
                <div class="title title_200px">Під керівництвом</div>
                <div class="info specification specification_pos-status-patro-init"><%= @student.leader_teacher_info %></div>
            </div>
            <div class="protocol_row">
                <div class="title title_200px">З консультацією</div>
                <div class="info specification specification_pos-status-patro-init"><br /></div>
            </div>
            <div class="protocol_row">
                <div class="title"></div>
                <div class="info"><br /></div>
            </div>
            <div class="protocol_row">
                <div class="title"></div>
                <div class="info"><br /></div>
            </div>
            <div class="protocol_row">
                <div class="title"></div>
                <div class="info"><br /></div>
            </div>
        </div>

        <div class="materials__info">
            <div class="materials__title">ДО ЕКЗАМЕНАЦІЙНОЇ КОМІСІЇ ПОДАНО ТАКІ МАТЕРІАЛИ :</div>
            <div class="protocol_row">
                <div class="text">1. Подання голові ЕК щодо захисту атестаційної роботи, у якій містяться довідка про успішність, </div>
            </div>
            
            <div class="protocol_row protocol_row_1">
                <div class="title">висновок керівника, висновок кафедри</div>
                <div class="info">інформаційних технологій і систем</div>
            </div>
            <div class="protocol_row underline">
                <div class="text"><br /></div>
            </div>
            <div class="protocol_row">
                <div class="title title_550px">2. Пояснювальна записка атестаційної роботи на</div>
                <div class="info not_underline">
                    <span class="underline inner inner__20px"><%= @student.diploma.pages %></span> сторінках
                </div>
            </div>
            <div class="protocol_row">
                <div class="title title_550px">3. Креслення,презентація на</div>
                <div class="info not_underline">
                    <span class="underline inner inner__20px"><%= @student.diploma.presentation %></span> аркушах
                </div>
            </div>
            <div class="protocol_row">
                <div class="title">4. Рецензія</div>
                <div class="info specification specification_pos-status-lfp"><br /></div>
            </div>
            <div class="protocol_row">
                <div class="title">5. Навчальна карта студента</div> 
            </div>
            <div class="protocol_row protocol_row_lang">
                <div class="title">6. Резюме до роботи</div>
                <div class="info specification specification_lang"><%= @student.diploma.language %> мовою</div>
            </div>
            <br />
        </div>

        <div class="questions__info">
            <div class="protocol_row">
                <div class="text">Після повідомлення (протягом  15  хв.) про виконану роботу студенту (ці) задані такі запитання: </div>
            </div>
            <ol class="questions__list">
                <% @student.diploma.questions.each do |question| %>
                    <li class="specification specification_questions">
                        <div class="question__text">
                            <span class="text_underline"><%= Teacher.find(question.teacher_id).l_initials %> - <%= question.text %></span>
                        </div>
                    </li>
                <% end %>
            </ol>
        </div>

        <div class="result__info">
            <div class="result__title">УХВАЛИЛИ:</div>
            <div class="protocol_row">
                <div class="title">1. Визнати, що студент (ка)</div>
                <div class="info specification specification_lfp nominative"><%= @student.full_name %></div>
            </div>
            <div class="protocol_row">
                <div class="title">виконав (ла) і захистив (ла)</div>
                <div class="info specification specification_diploma-type">кваліфікаційну роботу бакалавра</div>
            </div>
            <div class="protocol_row">
                <div class="title">з оцінкою за шкалами:</div>
                <div class="info not_underline flex"> національною <span class="underline inner"><%= @student.diploma.mark %></span> ESTS <span class="underline inner"></span></div>
            </div>
            <div class="protocol_row">
                <div class="title">2. Присвоїти</div>
                <div class="info specification specification_lfp dative"><%= @student.full_name %></div>
            </div>
            <div class="protocol_row">
                <div class="title">ступінь вищої освіти</div>
                <div class="info"><%= @student.get_group.degree %></div>
            </div>
            <div class="protocol_row">
                <div class="title">за спеціальністю</div>
                <div class="info specification specification_code"><%= @student.get_group.specialty_code %> <%= @student.get_group.specialty_title %></div>
            </div>
            <div class="protocol_row">
                <div class="title">3. Видати диплом</div>
                <div class="info specification specification_diploma-version">звичайного зразка</div>
            </div>
        </div>

        <div class="commission__signatures">
            <div class="protocol_row">
                <div class="title">Голова ЕК:</div>
                <div class="info text_center specification specification_fl-name"><%= @student.get_group.commission_head.fname_lname_upper %></div>
            </div>

            <div class="protocol_row">
                <div class="title">Члени ЕК:</div>
                <div class="info commission__wrap">
                    <% @student.commission_teachers.each do |teacher| %>
                        <div class="sign__wrap specification">
                            <div class="sign"></div>
                            <div class="name"><%= teacher.fname_lname_upper %></div>
                        </div>
                    <% end %>  
                </div>
            </div>
        </div>
    </div>
</div>