<%= form_with(model: eval_method) do |form| %>
  <% if eval_method.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(eval_method.errors.count, "error") %> prohibited this eval_method from being saved:</h2>

      <ul>
        <% eval_method.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
