<!DOCTYPE html>
<html>
  <head>
    <title>Ddp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", :media => "all", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", type: "module" , "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div>
      <%= render 'layouts/flashmessages' %>
    </div>

  <% if current_user %>
    <%= render 'shared/header_menu' %>
    Hello user!
    <p><%= current_user.role %></p>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>
  
  <footer>Created by Marharyta Andriukhina - 2023</footer>
  </body>
</html>
