<!DOCTYPE html>
<html>
  <head>
    <title>Ddp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", :media => "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav class="menu">
          <ul>
              <li><a href="#" title="Перейти на сторінку 'Поточні захисти'">Поточні захисти</a></li>
              <li><a href="#" title="Перейти на сторінку 'Історія'">Історія</a></li>
              <li><a href="#" title="Перейти на сторінку 'Моє членство в комісіях'">Моє членство в комісіях</a></li>
              <li><a href="#" title="Перейти на сторінку 'Налаштування аккаунта'">Налаштування аккаунта</a></li>
          </ul>
      </nav>
    </header>
    <%= yield %>
    <footer>Created by Marharyta Andriukhina - 2023</footer>
  </body>
</html>
