<!DOCTYPE html>
<html>
  <head>
    <title>Ddp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", :media => "all", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", type: "module" , "data-turbo-track": "reload", defer: true %>
  </head>

  <body>

    <div>
      <%= render 'layouts/flashmessages' %>
    </div>

  <% if current_user %>
    <header>
      <nav class="menu">
        <ul>
          <li><a href="#" title="Перейти на сторінку 'Поточні захисти'">Поточні захисти</a></li>
          <li><a href="#" title="Перейти на сторінку 'Історія'">Історія</a></li>
          <li><a href="#" title="Перейти на сторінку 'Моє членство в комісіях'">Моє членство в комісіях</a></li>
          <li><a href="#" title="Перейти на сторінку 'Налаштування аккаунта'">Налаштування аккаунта</a></li>
        </ul>
      </nav>
    </header>

    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    Hello user!

    <p><%= current_user.role %></p>

    <%= link_to "Sign Out", destroy_user_session_path, 'data-turbo-method': :delete %>
  <% end %>

  <%= yield %>
  
  <footer>Created by Marharyta Andriukhina - 2023</footer>
  </body>
</html>
